[Unit]
Description=gpt-translate
After=network.target

[Service]
Type=simple
ExecStart=/opt/shichenh/miniconda3/envs/gpt_translate/bin/python -m streamlit run app_aggrid.py --server.port 8501
WorkingDirectory=/opt/shichenh/gpt_translate/src/streamlit_app
EnvironmentFile=/opt/shichenh/gpt_translate/service/memory.env

[Install]
WantedBy=default.target
