[Unit]
Description=gpt-translate
After=network.target

[Service]
Type=simple
ExecStart=/home/bookworm/.pyenv/versions/3.11.7/envs/gpt-translate/bin/python -m streamlit run app_aggrid.py --server.port 8501
WorkingDirectory=/home/bookworm/code/gpt_translate/src/streamlit_app
EnvironmentFile=/home/bookworm/code/gpt_translate/service/memory.env

[Install]
WantedBy=default.target
